NODE_ENV=development
HOST=0.0.0.0
PORT=3333
API_HOST=http://localhost:3333

DEV_FRONTEND_PORT=3000
CORS_ORIGIN=*
#PREBUILD build trước tất cả các page ở client.
PREBUILD=0

#prod host
#MVNE_HOST=10.184.1.170

DB_TYPE = pg
DB_HOST = localhost
DB_USER = postgres
DB_PASS = 123456
DB_NAME = social_network